extends layout

block content
  link(rel="stylesheet", href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="../stylesheets/home.css")
  div(id="box")
    div(id="welcomebox")
      div(id="welcome")
         h1 Welcome To HCRS
  div(id="pharmacybox")
    form(action="/pharmacylogin", method="get")
        input(type="submit", value="", id="buttonPharmacy")
  div(id="labratorybox")
    form(action="/labratory", method="get")
        input(type="submit", value="", id="buttonLabratory")
  div(id="hospitalbox")
    form(action="/hospital", method="get")
        input(type="submit", value="", id="buttonHospital")
 
