extends layout

block content
  link(rel="stylesheet", href="../stylesheets/pharmacyEmployeeProfile.css")
  div(id="NameBox")
  div(id="logo")
  div(id="navbarbox")
   div(id="inventoryBox")
    form(action="/pharmacy",method="get")
          input(type="submit",value="Home",id="button")
   div(id="inventoryBox")
    form(action="/pharmacy/inventory",method="get")
          input(type="submit",value="Inventory",id="button")
   div(id="notificationBox")   
     form(action="/pharmacy/notification",method="get")
          input(type="submit",value="Notification",id="button")
   div(id="profileBox")   
      form(action="/pharmacy/profile",method="get")
          input(type="submit",value="Profile",id="button")

  div(id="ProfileBox")
    form(action="/pharmacy/employeeprofile", method="POST")
      div(id="Firstname")
       label(for="Firstname") First Name
       input(type="text", placeholder="First Name", name="Firstname")
      div(id="Lastname")
       label(for="Lastname") Last Name
       input(type="text", placeholder="Last Name", name="Lastname")
      div(id="Username")
       label(for="Username") Username     
       input(type="text", placeholder="Username", name="Username")
      div(id="Password")
       label(for="Password") Password
       input(type="text", placeholder="Password", name="Password")
      div(id="Pharmacy")
       label(for="Pharmacy") Pharmacy
       input(type="text", placeholder="Pharmacy", name="Pharmacy")
      div(id="JD")
       label(for="JD") Job Description
       input(type="text", placeholder="Job Description", name="JD")
      div(id="buttons") 
       button(type="submit") Save
