extends layout

block content
  link(rel="stylesheet", href="../stylesheets/pharmacyLogin.css")
  div(id="box")
    h1 Login Form
    form(action="/pharmacylogin", method="POST")
          input(type="text", placeholder="username", name="username" , id="username")
          input(type="password", placeholder="password", name="password", id="password")
          input(type="submit", value="LogIn", id="login")
